.details-container {
    background-color: #F5F5F5;
    padding: 10px;
    padding-left: 20px;
    border-radius: 4px;
}

h3 {
    text-align: left;
    font-weight: 500;
}

h4 {
    font-weight: 500;
}